html { 
        background: url('splash.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

body{
	color: #000;
    font-size: 20px;
    font-family: nunito;
    position: absolute;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100vh;
}

.header{
    color: #fff;
    background-color: #000;
    height: 2em;
    text-align: left;
    font-weight: 200;
    width: 100%;
    font-family: nunito;
    font-size: 2em;
    margin-top: 0em;
}

.title{
    color: #fff;
    text-align: left;
    font-weight: 200;
    width: 92%;
    font-family: nunito;
    margin:auto;
}

.tagline{
    margin:auto;
    margin-top: 35vh;
    margin-bottom: 1vh;
    font-size: 3em;
    font-weight: bold;
}

.tagline-dev{
    font-family: Consolas;
    display:inline;
    word-wrap: break-word;

}

.tagline-des{
    font-family: Georgia;
    display:inline;
    word-wrap: break-word;

}

.tagline-desc{
    font-size: 1em;
    width: 45vw;
    margin: auto;
    margin-bottom: 20vh;
    color: #969696;
}

.tagline-link{
    color: #fff;
    font-size: .7em;
}
.title-link{
    width: .8em;
    float: right;
    margin-right: .7em;
    margin-top: 0.4em;
}

.title-logo{
    width: .8em;
    margin: unset;
}

.title-links{
    margin-left: 25vw;
    display:inline;
}

.title-links-pages{
    transition: .2s;
    font-size: .5em;
    font-weight: bold;
    color: #fff;
    margin-left: .5em;
    margin-top: 1em;
    text-decoration: none;
    display:inline;
}
    .title-links-pages:hover{
        color:rgb(167, 167, 167)
    }

.footer{
    position: absolute;
    bottom: 0em;
    width: 100vw;
    height: 2em;
    background-color: #383838;
    opacity: .7;
}
