html { 
    }

body{
    color: #000;
    font-size: 20px;
	font-family: "nunito", "proxima nova light", "Helvetica Neue", Helvetica;
    position: absolute;
    text-align: center;
    margin: auto;
    width: 100%;
}

.header{
    color: #fff;
    background-color: #000;
    height: 2em;
    text-align: left;
    font-weight: 200;
    width: 100%;
    font-size: 2em;
    margin-top: 0em;
}

.title{
    color: #fff;
    text-align: left;
    font-weight: 200;
    width: 92%;
    margin:auto;
}

.title-link{
    width: .8em;
    float: right;
    margin-right: .7em;
    margin-top: 0.4em;
}

.title-logo{
    width: .8em;
    margin: unset;
    display: none;
}

.title-logo-main{
    text-decoration: none;
    margin-top: .5em;
    display: inline-block;
}

.title-links{
    margin-left: unset;
    display:inline;
    vertical-align: super;
	font-size: .4em;
}

.title-links-pages{
    transition: .2s;
    font-weight: bold;
    color: #fff;
    margin-left: .8em;
    text-decoration: none;
}
    .title-links-pages:hover{
        color:rgb(167, 167, 167)
    }

.footer{
	display: inline-block;
    bottom: 0em;
    width: 100vw;
    height: 2em;
    background-color: #bbbbbb4b;
}

.footer-link-holder{
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: .3em;
}

.footer-link{
    width: 1.5em;
    margin-bottom: 0.7em;
    margin-left: .5em;
    margin-right: .5em;
    text-decoration: none;
}

.footer-logo{
    width: 1.5em;
}

@media screen and (min-width:640px) {
    .title-logo {
        display: inline;
    }
    .title-links{
        margin-left: 25vw;
		font-size: .5em;
    }
}

@media screen and (min-width:1300px) {
	.title-links-pages{
		margin-left: 3em;
	}
	.footer-link{
		margin-left: 3em;
		margin-right: 3em;
	}
}

.project-holder{
    width: 70%;
    background-color: #fff;
    margin: auto;
	margin-bottom: 15em;
	height: 100%;
}
.project-list{
    padding-top: 2em;
    margin: auto;
    list-style: none;
}
.project-list-item{
    margin: auto;
    margin-left: 1em;
    margin-top: 1em;
	margin-bottom: 1em;
    background-color: #fff;
    width: 16em;
    height: 10em;
    border-radius: .1em;
    display: inline-block;
    box-shadow: 1px 1px 10px #000;
    float: right;
    
}



.project-list-item-link{
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.project-face{
	height: 100%;
}


.project-card {
    text-align: center;
	border-radius: 1em;
    margin: auto;
    width: 17em;
    height: 8.5em;
    perspective: 500px;
    margin-top: 4em;
    transition: transform 3s;
    transform-style: preserve-3d;
  }
  
  .project-content {
    width: 100%;
    height: 100%;
    box-shadow: 1em, 1em, #000;
    transition: transform 3s;
    transform-style: preserve-3d;
	box-shadow: 3px 3px 20px #000;
	border-radius: 20px;
  }
  
  
 
 .project-link {
	position: absolute;
    width: 3em;
    height: 3em;
    background-color: rgba(74, 71, 84, .8);
    border-radius: 10em;
    bottom: 10px;
    right: 10px;
 }

 .project-back-header{
    width: 100%;
    height: 4em;
    background-color: rgba(74, 71, 84, .8);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    font-size: 16px;    
    text-align: right;
    font-weight: bold;
    padding-top: 5px;
 }

 .project-back-header-text{
    margin-right: 50px;
    margin-top: 17px;
    font-size: 24px;
 }
 
 .project-back-text{
	margin-top: 4.5em;
	margin-left: 2em;
    font-size: 13px;
    width: 80%;
 }
 
 .project-back-pic{
     position: absolute;
     top: 1.5em;
     left: 1.5em;
     border: 4px solid #fff;
     border-radius: 5em;
     width: 5em;
 }

.project-pic{
    text-align: center;
    border-radius: .1em;
    box-shadow: 1em, 1em, #000;
    height: 74%;
    width: 93%;
    margin-top: .4em;
}

.project-title{
    height: 2em;
    margin: auto;
    width: 100%;
    color: #2a2c2f;
    font-size: 1em;
}

@media screen and (min-width:640px) {
    .project-list-item{
        margin: auto;
        margin-left: 1em;
        margin-top: 1em;
        background-color: #fff;
        width: 14em;
        height: 8.5em;
        border-radius: .1em;
        display: inline-block;
        float: unset;
    }

    .project-list{
        padding-top: 7em;
    }
}